appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.6.0
decorator==4.3.0
Django==2.0.4
django-extensions==2.0.7
django-livereload-server==0.3.1
django-markdownx==2.0.23
Faker==0.8.15
gunicorn==19.9.0
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.12.0
Markdown==2.6.11
mistune==0.8.3
parso==0.2.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
psycopg2==2.7.5
ptyprocess==0.5.2
Pygments==2.2.0
python-dateutil==2.7.3
pytz==2018.4
simplegeneric==0.8.1
six==1.11.0
text-unidecode==1.2
tornado==5.0.2
traitlets==4.3.2
wcwidth==0.1.7
