{% extends 'techblog_app/base.html' %}
{% load staticfiles %}

{% block nav_block %}
    {% include "techblog_app/header_footer/header.html" %}
{% endblock %}


{% block body_block %}

    <div class="container">

        <div class="card">
            <div class="card-body">
                <div class="card-title display-4"><span>About This Site</span></div>
                <p>
                    This website was built using the following:
                <ul>
                    <li>
                        Boostrap 4 Material Design Bootstrap kit
                    </li>
                    <li>
                        Django 2.0 web framework
                    </li>
                    <li>
                        Markdown plugin for django
                    </li>
                </ul>
                </p>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="card-title display-4"><span>About This Developer</span></div>
                <p>
                    This website was built using the following:
                <ul>
                    <li></li>
                </ul>
                </p>
            </div>
        </div>
        <br>


    </div>
{% endblock %}

{% block footer_block %}
    {% include "techblog_app/header_footer/footer.html" %}
{% endblock %}
