{#inherit from the base html with links to materialize and js#}
{% extends "techblog_app/base.html" %}
{% load staticfiles %}

{# Define a navigation block that is reusable#}
{% block nav_block %}
    {% include "techblog_app/header_footer/header.html" %}
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="card">

            <div class="card-body">
            <div class="card-title"><h1 class="display-5">Home</h1></div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="card">

                            <div class="card-image">
                                <img class="img-fluid " src="{% static 'images/IMG_1192.jpg' %}"
                                     style=""
                                     alt="">
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">

                         <div class="card-image float-right">


                         </div>
                        <div>
                            <br>
                            <br>
                            <p>I am graduating from University of California Santa Cruz with a Bachelors Degree in
                                Computer
                                Science this Spring
                            </p>
                            <br>
                            <p>I am creating this site mainly to host a personal blog that I will be maintaining and
                                improving
                                as
                                time goes on. For more information on the stack I am running be sure to visit the
                                <strong><a
                                        href="/about">about</a></strong> page.</p>
                            <p>Thats about it for now, as this is week 7 in my last quarter and I am quite busy building
                                a group
                                web app</p>
                    </div>

                </div>

            </div>
        </div>


    </div>
    </div>
{% endblock %}


{% block footer_block %}
    <br>
    {% include "techblog_app/header_footer/footer.html" %}
{% endblock %}