{#inherit from the base html with links to materialize and js#}
<title>Techblog Home</title>

{% extends "techblog_app/base.html" %}
{% load staticfiles %}
{% load app_filters %}

{# Define a navigation block that is reusable#}
{% block nav_block %}
    {% include "techblog_app/header_footer/header.html" %}
{% endblock %}

{% block body_block %}

    <div class=" position-fixed" style="margin-top: 25px;">
        <div class="list-group btn-group-vertical" style="display:none">
            {#terrible hack to get these buttons to align correctly, hidden button is offset incorrectly#}
            <a class="btn btn-sm btn-outline-primary" style="display: none" href="">Login</a>
            <a class="btn btn-sm btn-outline-primary" href="#">Login</a>
            <a class="btn btn-sm btn-outline-danger" href="#">Post</a>
            <a class="btn btn-sm btn-outline-default" href="#">Signup</a>
        </div>
    </div>



    <div class="container">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold text-center my-5">Recent posts</h2>
        <!-- Section description -->
        <p class="text-center w-responsive mx-auto mb-5">Here are my most recent posts related to technology and
            learning</p>
        <br>


        <section class="my-5">
            {% for post in posts %}

                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-lg-5">
                        <!-- Featured image -->
                        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                            <img class="img-fluid"
                                 src="{{ post.headline_image.url }}"
                                 alt="Picture of post {{ post.headline }} content "
                            >
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-7">
                        <!-- Category -->
                        <a href="#!" class="green-text">
                            <h6 class="font-weight-bold mb-3">
                                <i class="fa fa-cutlery pr-2"></i>
                                Food
                            </h6>
                        </a>
                        <!-- Post title -->
                        <h3 class="font-weight-bold mb-3"><strong>{{ post.title }}</strong></h3>
                        <!-- Excerpt -->
                        <p>{{ post.headline }}</p>
                        <!-- Post data -->
                        <p>by <a><strong>{{ post.author }}</strong></a>, {{ post.date }}</p>
                        <!-- Read more button -->
                        <a class="btn btn-deep-orange btn-md" href="{{ post.id }}">Add filter to change this color by
                            category</a>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
                <hr class="my-5">
            {% endfor %}
        </section>
        <!-- Section: Blog v.1 -->
    </div>


    <div>
        <h2> categories test</h2>
        <p>backend {{ "DJBE"| map_category_to_icon| safe }}</p>
        <p>frontend {{ 'DJFE' | map_category_to_icon| safe }}</p>
        <p>utilities {{ 'DJU' | map_category_to_icon| safe }}</p>
        <p>Technology {{ 'T' | map_category_to_icon| safe }}</p>
        <p>Algorithms {{ 'A' | map_category_to_icon| safe }}</p>
        <p>Arduino and Pi {{ 'MAKE' | map_category_to_icon| safe }}</p>
        <p>Computer Science Fundamentals {{ 'CS' | map_category_to_icon| safe }}</p>
        <p>Physics {{ 'PHYS' | map_category_to_icon| safe }}</p>
        <p>Mathematics {{ 'MAT' | map_category_to_icon| safe }}</p>
        </p>
    </div>
    <br><br><br>
{% endblock %}
{% block footer_block %}
    <br>
    {% include "techblog_app/header_footer/footer.html" %}
{% endblock %}