{% extends "techblog_app/base.html" %}
{% load static %}
{% block nav_block %}
<header>

    <nav class="navbar navbar-light bg-light scrolling-navbar">
        <div class="container-fluid">
            <div>
            <h1 class="text-dark display-2 text-capitalize" style="">Shane Dalton</h1>
            <span class="text-dark">&nbsp;A personal Website</span>
            </div>
                <div class=" d-none d-md-block btn-group " role="group">
                <a href="/" class="btn btn-outline-dark">Blog</a>
                <a href="/about" class="btn btn-outline-dark">About</a>
            </div>
        </div>

        <div class="dropdown navbar-burger ">
            <button class="btn btn-outline-dark float-right secondary d-block d-md-none dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" onclick="$('.dropdown-toggle').dropdown()">
                Navigation
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Blog</a>
                <a class="dropdown-item" href="#">About</a>
                <a class="dropdown-item" href="#">Projects</a>
            </div>
        </div>
    </nav>
    <br>
    <hr>
</header>
{% endblock %}