{% extends "techblog_app/base.html" %}
{% load static %}
{% block nav_block %}
    <header>


            <nav class="navbar navbar-light fixed scrolling-navbar">
                <div class="container-fluid">
                    <div>
                        <h1  class="display-4 font-weight-bold font-weight-bold text-dark  text-capitalize">
                            Shane Dalton</h1><span class="">&nbsp;&nbsp;&nbsp;<strong>personal website</strong></span>
                    </div>
                    <div class=" d-none d-md-block btn-group " role="group">
                        <a href="/" class="btn btn-outline-dark font-weight-bold"><span>Home</span></a>
                        <a href="{% url 'blog_landing' %}" class="btn btn-outline-dark smd-button font-weight-bold"><span>TechBlog</span></a>
                        <a href="/about" class="btn btn-outline-dark"><span><strong
                                class="font-weight-bold">About</strong></span></a>
                    </div>
                </div>

                <div class="dropdown navbar-burger ">
                    <button class="btn btn-outline-dark float-right secondary d-block d-md-none dropdown-toggle"
                            type="button"
                            id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" onclick="$('.dropdown-toggle').dropdown()">
                        Navigation
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">TechBlog</a>
                        <a class="dropdown-item" href="#">About</a>
                        <a class="dropdown-item" href="#">Projects</a>
                    </div>
                </div>
            </nav>
    </header>
    <br><br><br>

{% endblock %}